# === DB ===
database_url=postgresql+asyncpg://
atlas_url=
atlas_db_name=

mode_db=  # sql / mongo

# === EMAIL ===
email=
password_email=

# === JWT ===
secret_key=  
algorithm=
access_token_expire_minutes=
refersh_token_exp_day=

# === FE ===
origins=
origins_public=